/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.header, .tab-bar {
  background-color: #e9ecef;
  padding-top: 15px;
}

.header .btn-group {
  width: 100%;
}

.tab-bar .col-auto {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffffff;
    border-right: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
}

.tab-bar .col-auto:hover {
    background-color: #727b84;
}

.tab-bar .col-auto.active {
    border-bottom: none
}

aside > div {
  margin: 10px auto;
}

label.replay-upload {
  margin-bottom: 0;
}

#build-area, #wave-creatures {
  margin: 10px 0;
}

#build-area ul, #wave-creatures ul {
    justify-content: center !important;
}

footer {
  border-top: 1px solid #e9ecef;
}

.unit.selected-unit {
    border: 1px solid gray;
}

.unit.selected:after {
    content: " ";
    background-image: url("../../web/Icons/button active.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.tooltip-parent:hover .tooltip-data {
  visibility: visible;
}

.tooltip-data {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  line-height: 1.3em;
}

.dps-info img, .hp-info img {
  margin: 0 4px;
  vertical-align: middle;
  width: 32px;
}

.unit {
  width: 64px;
  height: 64px;
}

.selected-unit > div {
  height: 64px;
  line-height: 64px;
}

.error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: rgba(0,0,0,0.5)
}

.error p {
    margin: 15% auto;
    padding: 20px;
    opacity: 1;
    color: #fff;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    width: 20%;
}