body {
  text-align: center;
}

.App-header {
  background-color: #000;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-ticker {
  font-size: medium;
}

.info {
  display: flex;
}

.info > div {
  flex-grow: 1;
}

.info p {
  margin: 0;
}

.area {
  display: flex;
}

.area > div:first-child {
  flex-grow: 2;
}

.area > div {
  flex-grow: 1;
}

.lane {
  display: flex;
}

.lane > div:first-child {
  flex-grow: 2;
}

.lane > div {
  flex-grow: 1;
}

.lane ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.area .selection {
  min-width: 150px;
}