/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.header {
  background-color: #e9ecef;
  padding: 15px 0;
}

.header .btn-group {
  width: 100%;
}

aside > div {
  margin: 5px auto;
}

#build-area, #wave-creatures {
  margin: 5px 0;
}

#build-area ul, #wave-creatures ul {
    justify-content: center !important;
}

footer {
  border-top: 1px solid #e9ecef;
}

.unit.selected-unit {
    border: 1px solid gray;
}

.unit.selected:after {
    content: " ";
    background-image: url("../../public/Icons/button active.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.tooltip-parent:hover .tooltip-data {
  visibility: visible;
}

.tooltip-data {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  line-height: 1.3em;
}

.dps-info img, .hp-info img {
  margin: 0 4px;
  vertical-align: middle;
  width: 32px;
}

.unit {
  width: 64px;
  height: 64px;
}

.selected-unit > div {
  height: 64px;
  line-height: 64px;
}